* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF;
    margin: 15px;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
    color: #353535;
    margin: 10px 0 10px 10px;
}

p, li {
    font-family: 'Abel', sans-serif;
    padding: 20px 15px;
    font-size: 1.2rem;
}

img {
    max-width: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: #353535;
    font-weight: bolder;
}

a:visited {
    color: #353535;
}


/* **** Navigation ***** */

.header-name {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

.navbar {
    display:flex;
    flex-direction: column;
}

.navbar ul {
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-link {
    font-family: 'Abel', sans-serif;
    padding: 5px 10px;
    /* border: 0.5px #353535 solid; */
    text-decoration: none;
    background-color: #6999F3;
    text-align: center;
    margin: 4px 0;
    box-shadow: 2px 3px 1px #F1F1F1;
}

/* **** About **** */

.about-liz {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.main-pic, .dog-pic, .climbing-pic {
    max-width: 100%;
    margin: 10px 0;
}

.about-text2 {
    background-color: #e6ecf7;
}

.about-heading {
    background-color: #FFF;
}

/* .about-text3 {
    margin-bottom: 80px;
} */

.language-list, .interest-list {
    list-style: none;
    margin: 0 0 20px 15px;
    text-align: center;
}

.language-list li, .interest-list li {
    /* border: 2px black solid; */
    padding: 5px;
    font-weight: 600;
}

/* ***** Projects **** */

.garden, .dog-adoption, .pupquest {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #e6ecf7;
    margin: 15px 0;
}

.garden h2, .dog-adoption h2, .pupquest h2 {
    align-self: center;
    margin: 10px 0;
}

.site-link {
    align-self: center;
    margin-bottom: 20px;
    padding: 0;
    font-weight: 100;
    font-family: 'Roboto Slab', serif;
    
}


.dog-adoption img, .garden img, .pupquest img {
    border: 1px #F3F3F3 solid;
    box-shadow: 3px 3px 5px #F1F1F1;
    
}

.screenshot {
    align-self: center;
    display: block;
    max-width: 90%;
    margin-top: 15px;
}
.screenshot img {
    max-width: 100%;
}

/* **** Footer **** */

footer {
    margin: 0px;
}

.footer-links {
    background-color: #6999F3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* border: 8px black solid; */
}

.icon {
    width: 1;
    /* border: 8px black solid; */
}

.icon img {
    width: 50%;
    padding: 5px;
    display: block;
    margin: 0 auto;
    /* Can you get above with flexbox????!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}

/* **** Media Queries **** */

@media (min-width: 550px) {

    .navbar ul li {
        display: inline;
    }
    .navbar {
        display:flex;
        flex-direction: row;
        justify-content: left;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .main-pic {
        max-width: 300px;
    }


}

@media (min-width: 768px) {
    
    .about-heading {
        display: inline-block;
        width: 45%;
    }
    .about-text1 {
        display: inline-block;
        width: 45%;
    }
    
    .about-text2{

    } 
    
}
